<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.text_field :amount, :required => true, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :charity %><br>
    <%= f.collection_select :charity, Charity.all, :name,:name, {prompt: "Select a charity"}, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => "btn btn-default btn-sm" %>
  </div>
<% end %>
