
<p id="notice"><%= notice %></p>
<% if current_user.try(:admin?) %>
<div class="center-block">
<h1>All Donations</h1>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Charity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.amount %></td>
        <td><%= donation.charity %></td>
        <td><%= button_to 'View Details', donation %></td>
        <td><%= button_to 'Edit Details', edit_donation_path(donation) %></td>
        <td><%= button_to 'Delete', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'Add New Donation', new_donation_path %>
<% end %>
