
<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @donation.amount %>
</p>

<p>
  <strong>Charity:</strong>
  <%= @donation.charity %>
</p>

<p>
  <strong>Date:</strong>
  <%= @donation.date %>
</p>

<%= button_to 'Edit Donation Details', edit_donation_path(@donation) %> |
<%= button_to 'Back', donations_path %>
