<body>

  <p id="notice"><%= notice %></p>
  <% if current_user.try(:admin?) %>
  <h1>Listing Charities</h1>

  <table class = "table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
        <th>Website</th>
        <th>Email</th>
        <th>Poc</th>
        <th>Phone</th>
        <th>Tax code</th>
        <th>Total</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @charities.each do |charity| %>
        <tr>
          <td><%= charity.name %></td>
          <td><%= charity.description %></td>
          <td><%= charity.address %></td>
          <td><%= charity.website %></td>
          <td><%= charity.email %></td>
          <td><%= charity.POC %></td>
          <td><%= charity.phone %></td>
          <td><%= charity.tax_code %></td>
          <td><%= charity.total %></td>
          <td><%= link_to 'Show', charity %></td>
          <td><%= link_to 'Edit', edit_charity_path(charity) %></td>
          <td><%= link_to 'Destroy', charity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Charity', new_charity_path %>
  <% end %>
</body>