<body>

  <p id="notice"><%= notice %></p>
  <% if current_user.try(:admin?) %>
  <h1>All Charities</h1>

  <table class = "table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Total</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @charities.each do |charity| %>
        <tr>
          <td><%= charity.name %></td>
          <td><%= charity.description %></td>
          <td><%= charity.total %></td>
          <td><%= link_to 'View Details', charity, :class => "btn btn-default btn-sm" %></td>
          <td><%= link_to 'Edit Details', edit_charity_path(charity), :class => "btn btn-default btn-sm" %></td>
          <td><%= link_to 'Delete', charity, :class => "btn btn-default btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add New Charity', new_charity_path, :class => "btn btn-default btn-sm" %>
  <% end %>
</body>