
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charity.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @charity.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @charity.address %>
</p>

<p>
  <strong>Website:</strong>
  <%= @charity.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @charity.email %>
</p>

<p>
  <strong>Poc:</strong>
  <%= @charity.POC %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @charity.phone %>
</p>

<p>
  <strong>Tax code:</strong>
  <%= @charity.tax_code %>
</p>

<p>
  <strong>Total:</strong>
  <% total = 0 %>
  <% Donation.where(charity:@charity.name).find_each do |donation| %>
      <% total += donation.amount %>
  <% end %>
  <%= @charity.total = total %>
  <% @charity.save %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Charity</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
 
    <% Donation.where(charity:@charity.name).find_each do |donation| %>
      <tr>
        <td><%= donation.amount %></td>
        <td><%= donation.charity %></td>
        <td><%= donation.date %></td>
        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
